<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="RemotingClient">
      <client>
        <!-- Set type and url of remote object -->
        <wellknown type="MyRemoting.RemoteObject,RemoteObject"
         url="tcp://localhost:8123/RemotingHost/RemoteObjectSingleton.rem"
        />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>
